<div class='col-lg-6 mx-auto mb-4' >
    <div class='card '  >
        <div class='card-header' >
            <h2 class='text-center' >Your Profile</h2>
        </div>

    <%= form_with model: @userprofile do |form| %>
    <div class='row'>
        <div class='col-lg-6'>
            <div class='form-group'>
                <%= form.label :first_name, class:' mt-2' %>
                <%= form.text_field :first_name, class:'form-control form-control-lg
                rounded-0' %>
    
            </div>
        </div>
        <div class='col-lg-6' >
            <div class='form-group'>
                <%= form.label :last_name, class:' mt-2' %>
                <%= form.text_field :last_name, class:'form-control form-control-lg
                rounded-0' %>
                
            </div>
        </div>
    </div>
    <div class='row' >
        <div class='col-lg-12' >
            <div class='form-group'>
                <%= form.label :personal_email, class:' mt-2' %>
                <%= form.email_field :email, class:'form-control form-control-lg
                rounded-0' %>
                
            </div>
        </div>
    </div>
    <div class='row' >
        <div class='col-lg-6' >
            <div class='form-group'>
                <%= form.label :Date_Of_Birth, class:' mt-2' %>
                <%= form.text_field :dob, class:'form-control form-control-lg
                rounded-0' %>
                
            </div>
        </div>
        <div class='col-lg-6' >
            <div class='form-group'>
                <%= form.label :gender, class:' mt-2' %>
                <%= form.text_field :gender, class:'form-control form-control-lg
                rounded-0' %>
                
            </div>
        </div>
    </div>
    <div class='row' >
        <div class='col-lg-12' >
            <div class='form-group'>
                <%= form.label :write_your_post, class:' mt-2' %>
                <%= form.text_field :post, class:'form-control form-control-lg
                rounded-0' %>
                
            </div>
        </div>
    </div>
    <div class='row' >
        <div class='col-lg-12 mt-4 mb-4' >
            <%= form.submit class:'btn btn-primary btn-lg rounded-0' %>
            <%= link_to 'Back to Home', class:'btn btn-outline-primary
                btn-lg rounded-0 ' %>
        </div>  
    </div>
    <%end%>
    </div>
</div>